/* Footer Styles */

footer.page-footer {
    margin-top: 0;
    padding-top: 0;
}

footer.page-footer .row {
    margin-bottom: 0;
}

.footer-connect {
    text-align: center;
}

.footer-connect li {
    padding: 5px;
    padding-left: 30px;
    margin: 5px;
    background-position: left center;
    display: inline;
}

.footer-connect a {
    position: relative;
    color: white;
    cursor: pointer;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.footer-copyright {
    text-align: center;
    background-color: #585958!important;
}

.footer-copyright a {
    color: rgba(255, 255, 255, 0.8);
}


#fb-floater {
    padding-top: 8px;
    height: 31px;
    width: 26px;
}

#twitter-floater {
    padding-top: 10px;
    height: 30px;
    width: 28px;
}

/* Navigation Styles */

#desktop-nav {
    display: flex;
    flex-direction: row;
}

#left-nav {
    margin-left: auto;
}

@media only screen and (max-width: 1220px) and (min-width: 992px) {
    #left-nav {
        order: 0!important;
        margin-left: 0%;
    }
    #right-nav {
        order: 1!important;
        margin-left: auto;
    }
}

#about-dropdown-m li a {
    padding-right: 10px!important;
}

.collapsible-body {
    padding-left: 32px!important;
}

#mobile-nav {
    padding-top: 10px;
}

#mobile-nav li a {
    padding-left: 16px;
}

#mobile-nav i {
    margin-right: 10px;
}

#blog-button {
    transition: background-color 0.3s ease-out;
    background-color: #246127;
}

#blog-button:hover {
    background-color: #585958;
}


/* Element Styles */

img {
    display: block;
    margin: 0 auto;
    max-width: 75%;
    align-content: center;
}

.form {
    position: relative;
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
}

.form iframe {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border: none;
}

.calendar {
    position: relative;
    width: 100%;
    height: 0px;
    padding-bottom: 45%;
}

.calendar iframe {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border: none;
}

#get-involved-link {
    visibility: hidden;
    height: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#get-involved-link a {
    color: #109848!important;
}

@media only screen and (max-width: 992px) {
    .form {
        padding-bottom: 150%;
    }

    .calendar {
        padding-bottom: 100%;
    }
}

@media only screen and (max-width: 414px) {
    .form {
        visibility: hidden;
        padding-bottom: 0%;
    }

    #get-involved-link {
        visibility: visible;
        height: 100%;
    }
}

#home-slider {
    padding-left: 15%;
    padding-right: 15%;

    margin-bottom: 22px;
    visibility: hidden;
}

#get-involved-button {
    transition: background-color 0.3s ease-out;
    background-color: #2E7D32
}

#get-involved-button:hover {
    background-color: #585958;
}

.indicator {
    background-color: #109848!important;
}

/*
*
* Page Styles
*
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

main {
    flex: 1 0 auto;
}

.home {
    text-align: center;
    font-family: 'Orbitron';
    padding-bottom: 4%;
}

.about {
    padding-bottom: 4%;
}

.team-history-header {
    font-family: 'Orbitron';
}

.get-involved {
    padding-bottom: 4%;
}

.flow-text {
    font-size: 1.5em !important;
    font-family: 'Roboto', sans-serif;
}


/*
*
* Helper Styles
*
*/

.brand-font {
    font-family: 'Orbitron';
}

.brand-text-green-darker {
    color: #2E7D32!important;
}

.brand-text-green {
    color: #00c853!important;
}

.brand-text-gray {
    color: #585958!important;
}

.brand-background-green-darker {
    background-color: #2E7D32!important;
}

.brand-background-green {
    background-color: #00c853!important;
}

.brand-background-gray {
    background-color: #585958!important;
}

.divider {
    height: 2px;
    overflow: hidden;
}





/* Underline */

.fancy-underline {
    position: relative;
}

.fancy-underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease 0s;
}

.fancy-underline:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.underline-50:before {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.underline-black:before {
    background-color: rgba(0, 0, 0, 0.8);
}

.underline-green:before {
    background-color: #109848;
}




/* Sizing & Positioning */

.div-70 {
    width: 70%;
    margin: 10px auto!important;
}

.div-80 {
    width: 80%;
    margin: 10px auto!important;
}

.div-90 {
    width: 90%;
    margin: 10px auto!important;
}

.padding-1 {
    padding-top: 1%;
    padding-bottom: 1%;
}

.padding-2 {
    padding-top: 2%;
    padding-bottom: 2%;
}

.padding-3 {
    padding-left: 3%;
    padding-right: 3%;
}

.padding-4 {
    padding-left: 4%;
    padding-right: 4%;
}

.padding-5 {
    padding-left: 5%;
    padding-right: 5%;
}




/* Icons */
.fb-icon {
    background-image: url(../images/icons/fb.svg);
    background-repeat: no-repeat;
    background-size: 23px auto;
}

.blog-icon {
    background-image: url(../images/icons/blog.svg);
    background-repeat: no-repeat;
    background-size: 25px auto;
}

.twitter-icon {
    background-image: url(../images/icons/twitter.svg);
    background-repeat: no-repeat;
    background-size: 25px auto;
}

.youtube-icon {
    background-image: url(../images/icons/youtube.svg);
    background-repeat: no-repeat;
    background-size: 25px auto;
}

.tba-icon {
    background-image: url(../images/icons/stats.svg);
    background-repeat: no-repeat;
    background-size: 25px auto;
}

.flickr-icon {
    background-image: url(../images/icons/flickr.svg);
    background-repeat: no-repeat;
    background-size: 27px auto;
}