footer.page-footer {
    margin-top: 0;
    padding-top: 0;
}

footer.page-footer .row {
    margin-bottom: 0;
}

.footer-connect {
    text-align: center;
}

.footer-connect li {
    padding: 5px;
    padding-left: 30px;
    margin: 5px;
    background-position: left center;
    display: inline;
}

.footer-connect a {
    position: relative;
    color: white;
    cursor: pointer;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright a {
    color: rgba(255, 255, 255, 0.8);
}


/*
*
* Element Styles
*
*/

img {
    display: block;
    margin: 0 auto;
    max-width: 75%;
    align-content: center;
}

.form {
    position: relative;
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
}

.form iframe {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%
}


/*
*
* Page Styles
*
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.home {
    text-align: center;
    font-family: 'Orbitron';
    padding-bottom: 4%;
}

.about {
    padding-bottom: 4%;
}

.team-history-header {
    font-family: 'Orbitron';
}

.get-involved {
    padding-bottom: 4%;
}

.flow-text {
    font-size: 1.5em !important;
    font-family: 'Roboto', sans-serif;
}


/*
*
* Helper Styles
*
*/

.brand-font {
    font-family: 'Orbitron';
}

.brand-text-green-darker {
    color: #2E7D32!important;
}

.brand-text-green {
    color: #00c853!important;
}

.brand-text-gray {
    color: #585958!important;
}

.brand-background-green-darker {
    background-color: #2E7D32!important;
}

.brand-background-green {
    background-color: #00c853!important;
}

.brand-background-gray {
    background-color: #585958!important;
}

.divider {
    height: 2px;
    overflow: hidden;
}

.center {
    text-align: center;
}


/* Underline */

.fancy-underline {
    position: relative;
}

.fancy-underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease 0s;
}

.fancy-underline:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.underline-50:before {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.underline-black:before {
    background-color: rgba(0, 0, 0, 0.8);
}

.underline-green:before {
    background-color: #109848;
}


/* Sizing & Positioning */

.div-70 {
    width: 70%;
    margin: 10px auto;
}

.div-80 {
    width: 80%;
    margin: 10px auto;
}

.div-90 {
    width: 90%;
    margin: 10px auto;
}

.padding-1 {
    padding-top: 1%;
    padding-bottom: 1%;
}

.padding-2 {
    padding-top: 2%;
    padding-bottom: 2%;
}

.padding-3 {
    padding-left: 3%;
    padding-right: 3%;
}

.padding-4 {
    padding-left: 4%;
    padding-right: 4%;
}

.padding-5 {
    padding-left: 5%;
    padding-right: 5%;
}

/* Icons */
.fb-icon {
    background-image: url(../images/icons/fb.svg);
    background-repeat: no-repeat;
    background-size: 25px auto;
}

.blog-icon {
    background-image: url(../images/icons/blog.svg);
    background-repeat: no-repeat;
    background-size: 25px auto;
}

.twitter-icon {
    background-image: url(../images/icons/twitter.svg);
    background-repeat: no-repeat;
    background-size: 25px auto;
}

.youtube-icon {
    background-image: url(../images/icons/youtube.svg);
    background-repeat: no-repeat;
    background-size: 25px auto;
}

.tba-icon {
    background-image: url(../images/icons/stats.svg);
    background-repeat: no-repeat;
    background-size: 25px auto;
}