body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 4%;
}

.sitemenu {
    width: 100%;
    background: #109848;
    border-top: 8px solid #585958;
    padding-bottom: 3%;
}

.sitemenu>.navwrapper {
    display: table;
    margin: 0 auto;
}

.sitemenu ul {
    padding: 0;
    margin 0;
    list-style-type: none;
}

.sitemenu ul li {
    float: left;
}

.sitemenu ul li a {
    float: left;
    text-decoration: none;
    padding: 0 15px;
    line-height: 50px;
    color: white;
}

.sitemenu ul li a:hover {
    background-color: #45B29D;
}

.sitemenu ul li.active {
    background-color: #108548;
}

.sitemenu ul li.active a {
    color: white;
}

html {
    font-size: 16px;
}

header {
    width: 100%;
    padding: 0;
    font-size: 20px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 75%;
    align-content: center;
}

#header {
    text-align: center;
    font-family: 'Neogrey';
}

.home {
    text-align: center;
    font-family: 'Neogrey';
}

.home h3 {
    font-family: 'Roboto', sans-serif;
}

.home P {
    font-family: 'Roboto', sans-serif;
}

.header-text {
    text-align: center;
}

* {
    box-sizing: border-box;
}

.column { 
    float: left;
    width: 33.333%;
    padding: 50px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.about {
    font-family: 'Neogrey';
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
}

.about P {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

 .get-involved a  {
    color: white;
    background-color: #109848;
    padding: 10px;
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Neogrey';
    text-decoration: none;
    border-bottom: 3px solid #585958;
    border-radius: 5px;
    position: absolute;
    margin: auto;
    text-shadow: 1px 0px 1px black;
    transition: .2s all linear;
    left: 0;
    right: 0;
}

 .get-involved a  :hover {
    background-color: #45B29D;
}
