/*
*
*
* Main Styles
*
*
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header-text {
    text-align: center;
    font-family: 'Orbitron';
}

img {
    display: block;
    margin: 0 auto;
    max-width: 75%;
    align-content: center;
}

.flow-text {
    font-size: 1.5em !important;
    font-family: 'Roboto', sans-serif;
}

/*
*
*
* Navigation
*
*
*/

.nav-wrapper {
    font-family: 'Orbitron';
}

.about-tabs {
    font-family: 'Orbitron';
}

/*
*
*
* Styles for the index page
*
*
*/

.home {
    text-align: center;
    font-family: 'Orbitron';
    padding-bottom: 4%;

}

.home h5 {
    font-family: 'Orbitron';
}

/*
*
*
* Styles for the about page
*
*
*/

.about {
    padding-bottom: 4%;
}

.team-history-header {
    font-family: 'Orbitron';
}
/*
*
*
* Styles for the get involved page
*
*
*/

.get-involved {
    padding-bottom: 4%;
}

/*
*
*
* Footer
*
*
*/

footer.page-footer {
    margin-top: 0;
    padding-top: 0;
}

footer.page-footer .row {
    margin-bottom: 0;
}

.footer-connect {
    text-align: center;
}

.footer-connect li {
    padding: 5px;
    padding-left: 30px;
    margin: 5px;
    background-position: left center;
    display: inline;
}

.footer-connect a {
    position: relative;
    color: white;
    cursor: pointer;
}

.fb-icon {
    background-image: url(../images/icons/fb.svg);
    background-repeat: no-repeat;
    background-size: 25px auto;
}

.blog-icon {
    background-image: url(../images/icons/blog.svg);
    background-repeat: no-repeat;
    background-size: 25px auto;
}

.twitter-icon {
    background-image: url(../images/icons/twitter.svg);
    background-repeat: no-repeat;
    background-size: 25px auto;
}

.youtube-icon {
    background-image: url(../images/icons/youtube.svg);
    background-repeat: no-repeat;
    background-size: 25px auto;
}

.tba-icon {
    background-image: url(../images/icons/stats.svg);
    background-repeat: no-repeat;
    background-size: 25px auto;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright a {
    color: rgba(255, 255, 255, 0.8);
}

#aboutSite a {
    color: #109848;
}

/**
*
*
* Helper styles
*
*
 */

/*
*
*
* Underline Styles
*
*/

.fancy-underline {
    position: relative;
}

.fancy-underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease 0s;
}

.fancy-underline:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.underline-50:before {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.underline-black:before {
    background-color: rgba(0, 0, 0, 0.8);
}

.underline-green:before {
    background-color: #109848;
}

/*
*
*
* Colors
*
*
*/

.color-green {
    color: #109848;
}

.color-grey {
    color: #585958;
}

/*
*
*
* Sizing & Positioning
*
*
*/

.div-80 {
    width: 80%;
    margin: 10px auto;
}

.div-70 {
    width: 70%;
    margin: 10px auto;
}

.div-90 {
    width: 90%;
    margin: 10px auto;
}

.padding-3 {
    padding-left: 3%;
    padding-right: 3%;
}

.padding-4 {
    padding-left: 4%;
    padding-right: 4%;
}

.padding-5 {
    padding-left: 5%;
    padding-right: 5%;
}

.padding-1 {
    padding-top: 1%;
    padding-bottom: 1%;
}

/*
*
*
* Misc.
*
*
*/

.divider {
    height: 2px;
    overflow: hidden;
}

.div-green {
    background: #109848;
}

.brand-logo img {
    height: 100%;
    width: auto;
    padding: 10px;
}